{% load static %}

 <!-- Most recomended Courses Section four start -->
        <div class="ed_transprentbg ed_toppadder80 ed_bottompadder80">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="ed_heading_top ed_bottompadder80">
                            <h3>Learner recommended courses</h3>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="ed_mostrecomeded_course_slider ed_mostrecomededcourseslider">
                            <div id="owl-demo3" class="owl-carousel owl-theme">
                                <div class="item">
                                    <div class="ed_item_img">
                                        <img src="{% static 'assets/images/kidscamp/slider/crs7.jpg'  %}" alt="item1" class="img-responsive">
                                    </div>
                                    <div class="ed_item_description ed_most_recomended_data">
                                        <h4><a href="course_single.html">school Learning </a></h4>
                                        <div class="row">
                                            <div class="ed_rating">
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                                                    <div class="row">
                                                        <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                                                            <div class="ed_stardiv">
                                                                <div class="star-rating"><span style="width:80%;"></span></div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                                                            <div class="row">
                                                                <p>(5 review)</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                                                    <div class="ed_views">
                                                        <i class="fa fa-users"></i>
                                                        <span>35 students</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="course_detail">
                                            <div class="course_faculty">
                                                <img src="{% static 'assets/images/kidscamp/content/team_1.jpg'  %}" alt=""> <a href="javascript:void(0);">Joanna Simpson</a>
                                            </div>
                                        </div>
                                        <p>Project-Based Learning is a flexible tool for framing given academic standards into curriculum flexible tool for framing.</p>
                                        <a href="course_single.html" class="ed_getinvolved">get involved <i class="fa fa-long-arrow-right"></i></a>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="ed_item_img">
                                        <img src="{% static 'assets/images/kidscamp/slider/crs8.jpg'  %}" alt="item1" class="img-responsive">
                                    </div>
                                    <div class="ed_item_description ed_most_recomended_data">
                                        <h4><a href="course_single.html">learning Seminar</a></h4>
                                        <div class="row">
                                            <div class="ed_rating">
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                                                    <div class="row">
                                                        <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                                                            <div class="ed_stardiv">
                                                                <div class="star-rating"><span style="width:80%;"></span></div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                                                            <div class="row">
                                                                <p>(10 review)</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                                                    <div class="ed_views">
                                                        <i class="fa fa-users"></i>
                                                        <span>55 students</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="course_detail">
                                            <div class="course_faculty">
                                                <img src="{% static 'assets/images/kidscamp/content/team_2.jpg'  %}" alt=""> <a href="javascript:void(0);">DESPERATE SCOTT</a>
                                            </div>
                                        </div>
                                        <p>Project-Based Learning is a flexible tool for framing given academic standards into curriculum flexible tool for framing.</p>
                                        <a href="course_single.html" class="ed_getinvolved">get involved <i class="fa fa-long-arrow-right"></i></a>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="ed_item_img">
                                        <img src="{% static 'assets/images/kidscamp/slider/crs9.jpg'  %}" alt="item1" class="img-responsive">
                                    </div>
                                    <div class="ed_item_description ed_most_recomended_data">
                                        <h4><a href="course_single.html">writting skills</a></h4>
                                        <div class="row">
                                            <div class="ed_rating">
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                                                    <div class="row">
                                                        <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                                                            <div class="ed_stardiv">
                                                                <div class="star-rating"><span style="width:80%;"></span></div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                                                            <div class="row">
                                                                <p>(9 review)</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                                                    <div class="ed_views">
                                                        <i class="fa fa-users"></i>
                                                        <span>60 students</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="course_detail">
                                            <div class="course_faculty">
                                                <img src="{% static 'assets/images/kidscamp/content/team_3.jpg'  %}" alt=""> <a href="javascript:void(0);">MIKE TUSSLE</a>
                                            </div>
                                        </div>
                                        <p>Project-Based Learning is a flexible tool for framing given academic standards into curriculum flexible tool for framing.</p>
                                        <a href="course_single.html" class="ed_getinvolved">get involved <i class="fa fa-long-arrow-right"></i></a>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="ed_item_img">
                                        <img src="{% static 'assets/images/kidscamp/slider/crs10.jpg'  %}" alt="item1" class="img-responsive">
                                    </div>
                                    <div class="ed_item_description ed_most_recomended_data">
                                        <h4><a href="course_single.html">boys on Rails </a></h4>
                                        <div class="row">
                                            <div class="ed_rating">
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                                                    <div class="row">
                                                        <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                                                            <div class="ed_stardiv">
                                                                <div class="star-rating"><span style="width:80%;"></span></div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                                                            <div class="row">
                                                                <p>(8 review)</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                                                    <div class="ed_views">
                                                        <i class="fa fa-users"></i>
                                                        <span>45 students</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="course_detail">
                                            <div class="course_faculty">
                                                <img src="{% static 'assets/images/kidscamp/content/team_4.jpg'  %}" alt=""> <a href="javascript:void(0);"> JAMES MARCO</a>
                                            </div>
                                        </div>
                                        <p>Project-Based Learning is a flexible tool for framing given academic standards into curriculum flexible tool for framing.</p>
                                        <a href="course_single.html" class="ed_getinvolved">get involved <i class="fa fa-long-arrow-right"></i></a>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="ed_item_img">
                                        <img src="{% static 'assets/images/kidscamp/slider/crs11.jpg'  %}" alt="item1" class="img-responsive">
                                    </div>
                                    <div class="ed_item_description ed_most_recomended_data">
                                        <h4><a href="course_single.html">reading Seminar </a></h4>
                                        <div class="row">
                                            <div class="ed_rating">
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                                                    <div class="row">
                                                        <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                                                            <div class="ed_stardiv">
                                                                <div class="star-rating"><span style="width:80%;"></span></div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                                                            <div class="row">
                                                                <p>(7 review)</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                                                    <div class="ed_views">
                                                        <i class="fa fa-users"></i>
                                                        <span>31 students</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="course_detail">
                                            <div class="course_faculty">
                                                <img src="{% static 'assets/images/kidscamp/content/team_5.jpg'  %}" alt=""> <a href="javascript:void(0);"> ANDRE HOUSE</a>
                                            </div>
                                        </div>
                                        <p>Project-Based Learning is a flexible tool for framing given academic standards into curriculum flexible tool for framing.</p>
                                        <a href="course_single.html" class="ed_getinvolved">get involved <i class="fa fa-long-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container -->
        </div>
        <!--Most recomended Courses Section four end -->
       