<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title></title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="">
	</head>
	<body>
	<h1> mpesa error </h1>
	     <ul class="address-placed-dt1">
			<li><p><i class="glyphicon glyphicon-ok"></i>You did not supply safaricom number</p></li>
			<li><p><i class="uil uil-phone-alt"></i>Slow Internet</p></li>
			<li><p><i class="uil uil-envelope"></i>Server timeout</p></li>
			<li><p><i class="uil uil-envelope"></i>Mpesa Maintainance</p></li>
			<li><p><i class="uil uil-card-atm"></i>Did not pin or placed wrong pin</p></li>
			<li><p><i class="uil uil-card-atm"></i> <a href="">Contact Us for more information</a> </li>
		</ul>
	</body>
</html>