{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static './css/style/style.css' %}">

    <title>E-learning</title>
</head>
<body>

    <div class="container">

        <!-- header start -->
        <div class="nav-bar">
            <div class="logo">
                <h1>LAacademy</h1>
            </div>

            <nav>
                <ul>
                    <li><a href="home.html">Home</a></li>
                    <li><a href="#courses">Courses</a></li>
                    <li><a href="#programs">programs</a></li>
                    <li><a href="#teachers">teachers</a></li>
                </ul>
            </nav>


            {% if request.user.is_authenticated %}
            <div class="contact-us">
                <a href="{% url 'account:sign_in' %}">Logout</a>
            </div>
     

            {% else %}
            <div class="contact-us">
                <a href="{% url 'account:sign_in' %}">Sign IN</a>
            </div>

            {% endif %}

        </div>

        <!-- header end -->

<!-- after header material -->
        <div class="content-row">
            <div class="left-col">

                <h2>E-learning platform</h2>
                <p>Lorem ipsum dolor sit amet,finibus tristique, <br> felis leo vestibulum tium metus. <br> Vivamus hendrerit placerat placerat.</p>

                <div class="indicator">
                    <span class="active"></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>

            <div class="right-col">
                <img src="{% static './images/student.jpg' %}" alt="">

            </div>
        </div>

    <!-- end after header material -->


    <!-- courses -->

    <section class="container_courses" id="courses">

        <div class="couses">
            <h1>Courses</h1>
        </div>

        <div class="card-holder">
            <div class="card">
                <div class="card-image"></div>
                <div class="card-text">
                    <span class="date">4 days ago</span>
                    <h2>Post one</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc in lectus auctor, iaculis mauris iaculis</p>
                </div>
                <div class="card-stats">
                    <div class="stats">
                        <div class="value">
                            4 <sup>m</sup>
                        </div>

                        <div class="type">read</div>
                    </div>

                    <div class="stats border">
                        <div class="value">
                            55555
                        </div>

                        <div class="type">views</div>
                    </div>


                    <div class="stats">
                        <div class="value">
                            32
                        </div>

                        <div class="type">comments</div>
                    </div>

                    
                </div>
             </div>
             



             <div class="card">
                <div class="card-image"></div>
                <div class="card-text">
                    <span class="date">4 days ago</span>
                    <h2>Post one</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc in lectus auctor, iaculis mauris iaculis</p>
                </div>
                <div class="card-stats">
                    <div class="stats">
                        <div class="value">
                            4 <sup>m</sup>
                        </div>

                        <div class="type">read</div>
                    </div>

                    <div class="stats border">
                        <div class="value">
                            55555
                        </div>

                        <div class="type">views</div>
                    </div>


                    <div class="stats">
                        <div class="value">
                            32
                        </div>

                        <div class="type">comments</div>
                    </div>

                    
                </div>
             </div>
             


             <div class="card">
                <div class="card-image"></div>
                <div class="card-text">
                    <span class="date">4 days ago</span>
                    <h2>Post one</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc in lectus auctor, iaculis mauris iaculis</p>
                </div>
                <div class="card-stats">
                    <div class="stats">
                        <div class="value">
                            4 <sup>m</sup>
                        </div>

                        <div class="type">read</div>
                    </div>

                    <div class="stats border">
                        <div class="value">
                            55555
                        </div>

                        <div class="type">views</div>
                    </div>


                    <div class="stats">
                        <div class="value">
                            32
                        </div>

                        <div class="type">comments</div>
                    </div>

                    
                </div>
             </div>
             

        </div>
        
      </section>

    <!-- end courses -->


        

    </div>
    
</body>
</html>